@font-face
  font-family: "Iosevka Slab Web"
  src: url("./iosevka-slab-regular.woff2") format('woff2')

@font-face
  font-family: "Iosevka Slab Web"
  font-weight: bold
  src: url("./iosevka-slab-bold.woff2") format('woff2')

@font-face
  font-family: "Iosevka Slab Web"
  font-style: italic
  src: url("./iosevka-slab-italic.woff2") format('woff2')

@font-face
  font-family: "Iosevka Slab Web"
  font-weight: bold
  font-style: italic
  src: url("./iosevka-slab-bolditalic.woff2") format('woff2')
